body{
    background: #0E0E13;
    display: flex;
}

.root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
